@{
    ViewData["Title"] = "Aplikacija";
}
<h1>@ViewData["Title"]</h1>

<a href="https://github.com/klemenp950/aplikacijaIS">Prenesite si našo aplikacijo</a>
<br>
<img src="Images\qr.jpg" alt="Koda" width="100px"">

