@{
    ViewData["Title"] = "Zasebnost";
}
<h1>@ViewData["Title"]</h1>

<p>Zavezani smo k varovanju vaše zasebnosti. Naša spletna stran skrbno ravna z vašimi osebnimi podatki in spoštuje vašo zasebnost. Uporabljamo varnostne ukrepe in tehnologije, ki zagotavljajo zaščito vaših informacij. Ne delimo vaših podatkov s tretjimi osebami brez vašega soglasja in skrbimo za skladnost z veljavno zakonodajo o varstvu podatkov.</p>
